.no-scrollbar * {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.PhoneInputInput {
  padding: 0.625rem; /* 10px in rem */
  width: 100%;
  flex: 1;
  border-left: 1px solid var(--border) !important;
}

.PhoneInputInput:focus {
  outline: none;
  border-top: none;
}
